---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout   title ='Home | MemoryDiary'
description="MemoryDiary's home page" tailwindBgColor='bg-[#E1BEE7]'>
	<main>
		
	</main>
</BaseLayout>

