---
export interface HeadProps{
    seoTitle: string;
    seoDescription: string;
}
const {seoTitle, seoDescription} = Astro.props as HeadProps
---
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={seoDescription} />
    <title>{seoTitle}</title>
    <meta property='og:site_name' content="MemoryDiary" />
    <meta property='og:title' content={seoTitle} />
    <meta property='og:description' content={seoDescription  } />
</head>