---
import { Icon } from 'astro-icon'
---

<footer class="w-full mb-6 p-4 mt-20 bg-[#ce93d8] grid md:grid-cols-5 gap-4">
    <section class="md:col-span-2 text-center">
        <img src="/brand.png" alt="logo picture" />
        <p>
            MolysTechie is tech startup, specialized on developing Mobile Apps, Web Apps and Wep APIs. It's senior Developer is John L. Lyimo, the guy who developed this Website using Astro Framework.
        </p>
    </section>

    <section class='grid md:col-span-3 gap-6 text-center'>
        <div class="grid gap-y-6 md:flex md:justify-around">
            <div class="flex flex-col gap-2">
                <h1 class="font-bold text-lg">
                    Follow Me
                </h1>
                <div class="grid gap-y-1">
                    <a href="https://github.com/johnnylyimo" target="_blank" class="text-xl font-bold text-blue-500">
                        GitHub
                    </a>
                    <a href="https://twitter.com/johnnylyimo" target="_blank" class="text-xl font-bold text-blue-500">
                        Twitter
                    </a>
                    <a href="https://www.linkedin.com/in/johnnylyimo" target="_blank" class="text-xl text-blue-500">
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </section>

</footer>

