---
import { Icon } from 'astro-icon'
---

<footer class="w-full mb-6 p-4 mt-20 bg-[#ce93d8] grid md:grid-cols-5 gap-4">
    <section class="md:col-span-2 text-center">
        <img src="/brand.png" alt="logo picture" />
        <p>
            MolysTechie is tech startup, specialized on developing Mobile Apps, Web Apps and Wep APIs. It's senior Developer is John L. Lyimo, the guy who developed this Website using Astro Framework.
        </p>
    </section>

</footer>

