---
import { Icon } from 'astro-icon'
---

<footer class="w-full mb-6 p-4 mt-20 bg-[#ce93d8] grid md:grid-cols-5 gap-4">
    <section class="md:col-span-2 text-center">
        <img src="/brand.png" alt="logo picture" />
        <p>
            MolysTechie is tech startup, specialized on developing Mobile Apps, Web Apps and Wep APIs. It's senior Developer is John L. Lyimo, the guy who developed this Website using Astro Framework.
        </p>
    </section>

    <section class='grid md:col-span-3 gap-6 text-center'>
        <div class="grid gap-y-6 md:flex md:justify-around">
            <div class="flex flex-col gap-2">
                <h1 class="text-lg font-bold">
                    Follow Me
                </h1>
                <div class="grid gap-y-1">
                    <a href="https://github.com/johnnylyimo" target="_blank" class="text-xl text-blue-500 font-bold">
                        GitHub
                    </a>
                    <a href="https://twitter.com/johnnylyimo" target="_blank" class="text-xl text-blue-500 font-bold">
                        Twitter
                    </a>
                    <a href="https://www.linkedin.com/in/johnnylyimo" target="_blank" class="text-xl text-blue-500 font-bold">
                        LinkedIn
                    </a>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <h1 class="text-lg font-bold"> 
                    Find Me
                </h1>
                <div class="flex justify-center">
                    <Icon name="mdi:map-marker" height="24px"  width="24px" />
                    <p></p>
                    Buni at Costech Building, Sayansi, Dar-es-Salaam
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <h1 class="text-lg font-bold">
                    Contact Me
                </h1>
                <div class="flex justify-center gap-x-1">
                    <Icon name="mdi:phone" height="24px"  width="24px" />
                    <p>0715 291029</p>
                </div>
                <div class="flex justify-center gap-x-1">
                    <Icon name="ic:round-email"  height="24px" width="24px" />
                    <p>molystechie@gmail.com</p>
                </div>
            </div>
        </div>
    </section>

</footer>

