---
import {MdPhone,  MdLocationPin, MdEmail} from 'react-icons/md'
---

<footer class="w-full mb-6 p-4 mt-20 bg-[#ce93d8] grid md:grid-cols-5 gap-4">
    <section class="md:col-span-2 text-center">
        <img />
    </section>

</footer>